---
layout: default
---

<div class="section">
<h2>Papers accepted for publication</h2>

<p>EMNLP 2017 accepted a total of 323 papers. Of these 216 are long papers,
  and 107 are short papers.
</p>

<p>Jump to <a href="#short-papers">short papers</a>,
  <a href="#long-papers">long papers</a>.
</p>

<h3 id="short-papers">Short papers</h3>

<table class="striped">
  <col style="width:35%">
  <col style="width:65%">
  <thead>
    <th>Authors</th>
    <th>Title</th>
  </thead>
  <tbody>

{% assign papers = site.data.accepted_papers | where: "submission_type", "Short" %}
{% for paper in papers %}
<tr>
  <td>{{ paper.authors }}</td>
  <td><em>{{ paper.title }}</em></td>
</tr>
{% endfor %}

  </tbody>
</table>

<h3 id="long-papers">Long papers</h3>
<table class="striped">
  <col style="width:35%">
  <col style="width:65%">
  <thead>
    <th>Authors</th>
    <th>Title</th>
  </thead>
  <tbody>

{% assign papers = site.data.accepted_papers | where: "submission_type", "Long" %}
{% for paper in papers %}
<tr>
  <td>{{ paper.authors }}</td>
  <td><em>{{ paper.title }}</em></td>
</tr>
{% endfor %}

  </tbody>
</table>


</div>
