---
layout: default
---

<div class="section">
<h2>Conference hotels</h2>

<p>The hotels on this list are in reasonably distance to the conference venue.</p>
<p>
  All of the hotels with pre-negotiated rates have now sold out.
</p>

<h4>Booking trouble at DGI byen</h4>
<p>
Unfortunately, the hotel DGI byen only has a Danish website, which makes it challenging
to book unless you speak the language.
We've put together a small document with <a href="/downloads/BookingDGI-BYEN.pdf">advice</a>
on how to deal with this.</p>

<h4>Room sharing</h4>
<p>
  Rooms in Copenhagen are getting sparse.
  If you are looking for roommates to save money on lodging,
  sign up at <a href="http://conferenceshare.co">conferenceshare.co</a> to find attendees with whom you can share hotel room,
  Airbnb, taxi, or car rental.
<p>

<h4>Hotels</h4>
{% for hotel in site.data.hotels %}
  <div class="row">
    <div class="card-panel">
      <div class="col s12 l12">
          <h5 style="color: black">{{ hotel.name }}</h5>
          <p>{{ hotel.description }}</p>

          <ul>
            {% if hotel.email %}
            <li>
              <i class="material-icons">email</i> <a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a>
            </li>
            {% endif %}
            <li>
              <i class="material-icons">web</i> <a href="{{ hotel.website }}">{{ hotel.website }}</a>
            </li>
            <li>
              <i class="material-icons">location_on</i> {{ hotel.address }}
            </li>

          {% if hotel.ref %}
          <p>Please quote the following reference when booking: <i>{{ hotel.ref }}</i></p>
          {% endif %}

      </div>
      <div class="clear:both">&nbsp;</div>
    </div>
  </div>

{% endfor %}

</div>
