---
layout: default
---

<script language="javascript">

$(document).ready(function() {
  // Set up event handlers
  $(".toggle-abstract").click(function(eventObject) {
    var abstractId = $(eventObject.target).data().abstractId
    $("#" + abstractId).toggle()
  })

  $(".toggle-mark").click(function(eventObject) {
    var paperId = $(eventObject.target).data().paperId
    var storage = window.localStorage
    if (storage.getItem(paperId) == null) {
      storage.setItem(paperId, true)
      updateMark(paperId, true)
    } else {
      storage.removeItem(paperId)
      updateMark(paperId, false)
    }
  })

})

function updateMark(paperId, isMarked) {
  var paperElem = $("#" + paperId)
  var markerSymbolElem = $(".marker-symbol", paperElem)
  var toggleLinkElem = $(".toggle-mark", paperElem)
  if (isMarked) {
    paperElem.addClass("marked")
    markerSymbolElem.show()
    toggleLinkElem.text("[unmark]")
  } else {
    paperElem.removeClass("marked")
    markerSymbolElem.hide()
    toggleLinkElem.text("[mark]")
  }
}

function updateMarkedPapersFromStorage() {
  var storage = window.localStorage
  for (i = 0; i < storage.length; i++) {
    updateMark(storage.key(i), true)
  }
}

function findNextEvent() {
  var now = getNow()
  // Find the event with shortest distance to the start time
  var tracks = $(".track").get()

  // Ugly arg min
  var argMin = -1
  var lowestVal = 1E16

  for (i = 0; i < tracks.length; i++) {
    var startTime = new Date($(tracks[i]).data('startTime'))
    var timeTo = startTime - now
    if (timeTo > 0 && timeTo < lowestVal) {
      argMin = i
      lowestVal = timeTo
    }
  }

  if (argMin > -1) {
    return $(tracks[argMin])
  } else {
    return $();
  }
}

function findCurrentEvent() {
  var now = getNow()
  // Find the shortest event that's happening now
  var tracks = $(".track").get()

  // Ugly arg min
  var argMin = -1
  var lowestVal = 1E16

  for (i = 0; i < tracks.length; i++) {
    var startTime = new Date($(tracks[i]).data('startTime'))
    var endTime = new Date($(tracks[i]).data('endTime'))

    if (startTime < now && endTime > now) {
      var duration = endTime - startTime
      if (duration < lowestVal) {
        argMin = i
        lowestVal = duration
      }
    }
  }

  if (argMin > -1) {
    return $(tracks[argMin])
  } else {
    return $();
  }
}

function getNow() {
  return new Date()
  //return new Date(2017, 8, 10, 12, 0, 0, 0)
}

function updateNextEvent() {
  var nextEventElem = findNextEvent()
  if (nextEventElem.size() == 0) {
    console.log("No next event")
  } else {
    // $('#nextEventLink').attr("href", "#" + )
    $('#nextEventLink').click(function(eventObject) {
      eventObject.preventDefault()
      navToTabbedItem(nextEventElem)

    })
    $('#nextEventLink').text(nextEventElem.data('trackTitle'))

    var startTime = new Date(nextEventElem.data('startTime'))
    var timeDiff = (startTime - getNow()) / 1000
    $('#nextEventTime').text(timeDiffToText(timeDiff))
  }
}

function updateCurrentEvent() {
  var currentEventElem = findCurrentEvent()
  if (currentEventElem.size() == 0) {
    console.log("No current event")
  } else {
    $('#currentEventLink').click(function(eventObject) {
      eventObject.preventDefault()
      navToTabbedItem(currentEventElem)
    })
    $('#currentEventLink').text(currentEventElem.data('trackTitle'))
  }
}

function timeDiffToText(timeDiffInSecs) {
  if (timeDiffInSecs < 0) {
    return "already started"
  } else {
    var hours = Math.floor(timeDiffInSecs / 3600)
    var mins = Math.ceil((timeDiffInSecs % 3600) / 60)

    if (hours >= 24) {
      return "in more than a day"
    } else if (hours > 1){
      return "in " + hours + " hours and " + mins + " minutes"
    } else if (hours == 1) {
      return "in one hour and " + mins + " minutes"
    } else {
      return "in " + mins + " minutes"
    }
  }
}


function navToTabbedItem(elem) {
  var tabId = elem.closest(".day-program").attr("id")
  $('ul.tabs').tabs('select_tab', tabId)
  $('html, body').animate({
    scrollTop: elem.offset().top
  }, 1200);
}


$(document).ready(function() {
  updateNextEvent()
  setInterval(updateNextEvent, 60*1000)

  updateCurrentEvent()
  setInterval(updateCurrentEvent, 60*1000)

  updateMarkedPapersFromStorage()
})


</script>


<div class="section">
<h2>Conference program</h2>


<div id="currentEvent">
  <span>Now:</span> <a href="" id="currentEventLink"></a> </span>
</div>

<div id="nextEvent">
  <span>Up next:</span> <a href="" id="nextEventLink"></a> <span id="nextEventTime"></span>
</div>


  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        {% for day in site.data.main_conference %}
          <li class="tab col s3"><a href="#{{ day.weekday }}">{{ day.weekday }}</a></li>
        {% endfor %}
      </ul>
    </div>

  {% for day in site.data.main_conference %}
      <div id="{{ day.weekday }}" class="col s12 day-program">

        {% for track in day.program %}
            {% assign track_size = track|size %}
            {% if track_size == 1 %}
                {% assign session = track[0] %}

              <ul class="collapsible" data-collapsible="accordion">
                  {% for session in track %}
                    <li>
                      <div class="collapsible-header track"
                        id="track-{{ session.id }}"
                        data-track-title="{{ session.title}}"
                        data-start-time="{{ session.start_time_iso }}"
                        data-end-time="{{ session.end_time_iso }}"
                        >
                          <i class="material-icons">{{ site.data.session_type_to_icon[session.type] }}</i>
                          {{ session.start_time }} - {{session.end_time }}: {{ session.title}}
                      </div>
                      <div class="collapsible-body program-session">
                        {% include papers_and_posters.html session=session %}
                      </div>
                    </li>
                  {% endfor %}
              </ul>

            {% else %}
                {% assign first_session = track[0] %}

                <p class="track"
                   id="track-{{ first_session.id }}"
                   data-track-title="Parallel session from {{ first_session.start_time }} to {{first_session.end_time }}"
                   data-start-time="{{ first_session.start_time_iso }}"
                   data-end-time="{{ first_session.end_time_iso }}"
                   >
                   Parallel session from {{ first_session.start_time }} to {{first_session.end_time }}</p>

              <ul class="collapsible" data-collapsible="accordion">
                  {% for session in track %}
                    <li>
                      <div class="collapsible-header">
                          <i class="material-icons">{{ site.data.session_type_to_icon[session.type] }}</i>
                          {{ session.code}}: {{ session.title}}
                          <div class="right hide-on-small-only">
                              <span class="grey-text text-lighten-2" style="font-size: 0.8em">{{session.room }}</span>
                          </div>
                          <div style="clear: both"></div>
                      </div>
                      <div class="collapsible-body program-session">
                          <div class="hide-on-med-and-up" style="padding-bottom: 1em;">
                              Room: {{session.room }}
                          </div>
                          {% include papers_and_posters.html session=session %}

                      </div>
                    </li>
                  {% endfor %}
              </ul>

            {% endif %}
        {% endfor %}
        </div>
  {% endfor %}
  </div>

</div>
