<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="The 2017 Conference on Empirical Methods on Natural Language Processing">
		<meta name="keywords" content="EMNLP 2017, EMNLP, 2017, conference, empirical methods, natural language, Copenhange, SIGDAT, ACL">
		<!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

		<style type="text/css" media="all">
@import "/css/main.css";
		</style>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<title>
			{{ title }}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script type="text/javascript">
		</script>


		<div class="container">
			<div class="header">
				<p class="center-align">
					<a href="/index.html">EMNLP 2017</a>: Conference on Empirical Methods in Natural Language Processing — September 7&ndash;11, 2017 — Copenhagen, Denmark.
				</a>
			</div>

			<div id="intro-box" class="hide-on-small-only">
				<div class="row">
					<div class="col l3 m5 s8 left-box">
							<h2>emnlp<sub>2017</sub></h2>
					</div>
					<div class="col l1 m7 s4 center-box"></div>
					<div class="col l8 hide-on-med-and-down right-box">
						<p>
							<a href="http://www.sigdat.org/">SIGDAT</a>, the <a href="http://www.aclweb.org/">Association for Computational Linguistics</a> special interest group on linguistic data and corpus-based approaches to NLP, invites you to participate in EMNLP 2017.
						</p>
					</div>
				</div>
			</div>


<!--
				<div id="intro-left">
					<h2>
						emnlp<sub>2017</sub>
					</h2>
				</div>
				<div id="intro-right">
					<div id="attention">
						<p>
							<a href="http://www.sigdat.org/">SIGDAT</a>, the <a href="http://www.aclweb.org/">Association for Computational Linguistics</a> special interest group on linguistic data and corpus-based approaches to NLP, invites you to participate in EMNLP 2017.
						</p>
					</div>
				</div>
			</div>
			!-->

<!--
			<div id="introduction">
				<div id="intro-left">
					<h2>
						emnlp<sub>2017</sub>
					</h2>
				</div>
				<div id="intro-right">
					<div id="attention">
						<p>
							<a href="http://www.sigdat.org/">SIGDAT</a>, the <a href="http://www.aclweb.org/">Association for Computational Linguistics</a> special interest group on linguistic data and corpus-based approaches to NLP, invites you to participate in EMNLP 2017.
						</p>
					</div>
				</div>
			</div>
			!-->

			<div style="clear: both"></div>

			<!-- Dropdown Structure -->
			<ul id="conference-dropdown" class="dropdown-content">
				<!-- <li><a href="call.html">Call for papers</a></li> !-->
				<li><a href="/call-for-papers.html">Call for papers</a></li>
				<li><a href="/workshops.html">Workshops</a></li>
				<li><a href="/tutorials_overview.html">Tutorials</a></li>
				<li><a href="/area_chairs.html">Area chairs</a></li>
				<li><a href="/organisers.html">Organisers</a></li>
			</ul>

			<ul id="participants-dropdown" class="dropdown-content">
				<li><a href="/venue.html">Venue</a></li>
				<li><a href="/accommodations.html">Accommodations</a></li>
				<li><a href="/travel.html">Travel</a></li>
			</ul>

			<ul id="authors-dropdown" class="dropdown-content">
				<li><a href="/submissions.html">Submission instructions</a></li>
			</ul>

			<ul id="anti-harrassment-dropdown-dropdown" class="dropdown-content">
				<li><a href="/anti-harassment-policy.html">Anti-harassment policy</a></li>
			</ul>


			<ul id="collapse-dropdown" class="dropdown-content">
				<li><a href="/submissions.html">Submission instructions</a></li>
			</ul>


	    <nav>
	      <div class="nav-wrapper">
					<a href="#" data-activates="mobile-menu" class="button-collapse">
						<i class="material-icons">menu</i>
					</a>
	        <ul class="left">
						<li><a href="/index.html">
							<i class="material-icons">home</i></a></li>
							<li><a
										class="dropdown-button"
										data-activates="conference-dropdown"
										data-constrainwidth="false"
										data-beloworigin="true"
										data-hover="true"
										href="#!">Conference</a>
							</li>


					  <li><a href="/venue.html">Venue</a></li>

						<li><a href="/anti-harassment-policy.html">Anti-harassment policy</a></li>

						<!-- Dropdown Trigger -->
						<!--
			      <li><a class="dropdown-button" href="#!"
							data-activates="conference-dropdown"
							data-constrainwidth="false"
							data-hover="true"
							data-beloworigin="true">
							Conference</a></li>
						!-->
						<!--
						<li><a class="dropdown-button" href="#!"
							data-activates="participants-dropdown"
							data-constrainwidth="false"
							data-hover="true"
							data-beloworigin="true">
							Participants</a></li>


						<li><a class="dropdown-button" href="#!"
							data-activates="authors-dropdown"
							data-constrainwidth="false"
							data-hover="true"
							data-beloworigin="true">
							Authors</a></li>
														!-->
						<!--
						<li><a href="past.html"
							   class="dropdown-button" href="#!">Submit paper</a></li>
						!-->
	        </ul>
					<ul class="side-nav" id="mobile-menu">
						<li><a href="/call-for-papers.html">Call for papers</a></li>
						<li><a href="/venue.html">Venue</a></li>
						<li><a href="/workshops.html">Workshops</a></li>
						<li><a href="/tutorials_overview.html">Tutorials</a></li>
						<li><a href="/area_chairs.html">Area chairs</a></li>
						<li><a href="/organisers.html">Organisers</a></li>
						<li><a href="/anti-harassment-policy.html">Anti-harassment policy</a></li>
			    </ul>
	      </div>
	    </nav>


		<div id="content">
			{{ content }}
		</div>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Contact</h5>
						<div class="grey-text text-lighten-4">
							For questions about the program, reach out to one of
							the <a class="grey-text text-lighten-2" href="mailto:program@emnlp2017.net">program chairs</a>.</p>

			        <p>
							Local arrangements are handled by the <a class="grey-text text-lighten-2" href="mailto:local@emnlp2017.net">local organising chairs</a>.</p>
			        </p>
			        <p>
								Direct general inquiries to <a class="grey-text text-lighten-2" href="mailto:contact@emnlp2017.net">the general chair</a>.
							</p>
						</div>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-2" href="">Anti-harassment policy</a></li>
							<li><a class="grey-text text-lighten-2" href="http://www.emnlp2016.net/past-emnlp.html">Past conferences</a></li>
							<li><a class="grey-text text-lighten-2" href="http://www.sigdat.org/">SIGDAT</a></li>
							<li><a class="grey-text text-lighten-2" href="http://www.aclweb.org">ACL</a></li>
						</ul>

						<h5 class="white-text">Social</h5>
						<div>
							<ul>
								<li style="margin-bottom: 1em">
									<a class="grey-text text-lighten-2" href="https://twitter.com/emnlp2017">
										<img src="/images/twitter_bw_logo.png" style="vertical-align:middle" width="25px" alt="EMNLP twitter account">
										Twitter
									</a>
								</li>
								<li>
									<a class="grey-text text-lighten-2" href="https://www.facebook.com/emnlp2017">
										<img src="/images/facebook_bw_logo.png" style="vertical-align:middle" width="25px" alt="EMNLP facebook account">
										Facebook
									</a>
								</li>
							</ul>

						</div>

					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				Website design <a class="grey-text text-lighten-2" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">by-nc-sa</a> © 2008-2016
				    <a href="http://fran.io/" class="grey-text text-lighten-2">Francesco Figari</a> and others.
				<!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> !-->
				</div>
			</div>
		</footer>

	</div>
	<script language="javascript">
	(function($){
	  $(function(){
	    $('.button-collapse').sideNav();

	  }); // end of document ready
	})(jQuery); // end of jQuery name space
	</script>

</html>
